.board-wrapper {
    width: 100%;
    height: calc(100%-150px);
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid rgb(175, 216, 248);
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 0;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    z-index: -1;
    margin: auto;
    border: 1px solid rgb(175, 216, 248);
    margin-top: 6px;
    background-color: transparent;
}

.node_start{
    background: url("../images/arrow.svg");
    background-size: cover;
}
.node_end{
    background: url("../images/button.svg");
    background-size: cover;
}
.node_wall{
    animation: pulse 0.5s 1;
    background-color: #202220;
    border: 1px solid #202220;
}

@keyframes pulse{
    0%{
      background-color: grey;

    }
    100%{
      background-color: #202220;
    }
}
.node_visited{
  /* background-color: lightseagreen; */
  background-color: rgba(4, 0, 255, 0.5);
  animation-name: visited;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes visited{
  0% {
    transform: scale(0.3);
    background-color: rgba(255, 0, 191, 0.5);
    border-radius: 100%;
  }

  50% {
    background-color:  rgba(255, 0, 191, 0.5);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(4, 0, 255, 0.5);
  }

  100% {
    transform: scale(1);
    background-color:rgba(4, 0, 255, 0.5);
  }
}
.node_path{
  background-color: greenyellow;
  animation-name: path_anime;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes path_anime{
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
}
50% {
    background-color: orange;
}
100% {
    transform: scale(1);
    background-color: yellow;
}
}