.board-wrapper {
    width: 100%;
    height: calc(100%-150px);
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid rgb(175, 216, 248);
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    z-index: -1;
    margin: auto;
    border: 1px solid rgb(175, 216, 248);
    margin-top: 6px;
    background-color: transparent;
}