html, body {
    height: 100vh;
    max-height: 100vh;
    min-height: 300px;
    width: 100%;
    min-width: 550px;
    font-size: 62.5%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: block;
    overflow: hidden;
}

*, *:after, *:before {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

/* 
Grid: rgb(175, 216, 248)
*/